body{
    background-color: rgb(40, 50, 70);
    color: cornflowerblue;
}

header{
    margin-bottom: 5px;
}

footer{
    text-align: center;
    margin-top: 5px;
}

h1, h2{
    text-align: center;
}

.carousel-caption{
    top:5%;
    font-size: 36px;
}

.highlight{
    color: violet;
}

.title-link{
    font-size: 24px;
    text-align: center;
    color: cornflowerblue;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-content{
    background-color:  rgb(50, 60, 90);
}

.border{
    border-width: 2px !important;
    border-radius: 2px;
    border-color: rgb(65, 90, 120) !important;
}

.border-bottom{
    border-bottom: 2px solid !important;
    border-radius: 2px;
    border-color: rgb(65, 90, 120) !important;
}

.heading{
    margin: 0 auto 10px auto;
}

.float-left{
    margin-right: 10px;
}

.margin-bottom{
    margin-bottom: 20px;
}

.padding{
    padding: 5px;
}

.margin{
    margin: 10px;
}

#asd{
    color:white;
}